{
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "singleQuote": true,
  "endOfLine": "auto",
  "arrowParens": "always",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 80,
  "proseWrap": "always"
}
